# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Testing/Coverage
.coverage
.pytest_cache/
htmlcov/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data & artifacts
dataset/
runs/
exported_v2/
*.tflite
*.h5
*.weights.h5

# TF/Keras
*.pb
checkpoint
